table {
  border: 2px solid black;
  margin: 20px;
  border-collapse: collapse;
}

th,
td {
  border: 2px solid black;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

.con {
  position: relative;
}

#edu_img {
  position: absolute;
  width: 200px;
  left: 500px;
  top: -180px;
}

#btn {
  background-color: black;
  color: aliceblue;
  width: 80px;
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
}
